{% extends 'base.html' %}
{% block content %}

<h1>Mushroom List</h1>

<div class="row">
{% for mushroom in mushrooms %}
    <div class="col s12 m4">
        <div class="card large">
            <div class="card-image">
                <image class="responsive-img" width="30%" src=" {{ mushroom.images }}">
            </div>
            <div class="card-content">
                <span class="card-title">{{ mushroom.variety }}</span>
                <p>Found on: {{ mushroom.date }}</p>
                <p>Place: {{ mushroom.place }}</p>
                <p>Note: {{ mushroom.note }}</p>
            </div>
            <div class="card-action">
                <a href="/mushrooms/{{ mushroom.id }}">See details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}