{% extends 'base.html' %}
{% block content %}

<h1>About MycoCo</h1>
<div class="card">
    <div class="card-content">
        <p>MycoCo (or Mushroom Collector) is a web application created as a convinient way to document all mushrooms you
            encounter in your everyday life, exploring nearby parks, or traveling abroad.</p>
            <br>
        <p>You don't have to know the name of that lovely blue mushroom to "collect" it. Just call it "unknown" or "blue
            mushroom" and update it later than you find out its name. Same goes for the place you found that mushroom.
            Just write something you will remember and update later than you have time.</p>
    </div>
</div>
{% endblock %}